*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}
.navigation
{
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    transition-delay: 0.5s;
}
.navigation.active
{
    width: 300px;
    height: 300px;
    transition-delay: 0.5s;
}
.navigation span
{
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)),
    calc(12px * var(--y)));
    transition: transform 0.4s, width 0.4s, height 0.4s,
    background 0.4s;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active span
{
    width: 70px;
    height: 70px;
    background: #333849;
    transform: translate(calc(90px * var(--x)),
    calc(90px * var(--y)))
}
.navigation span ion-icon
{
    transition: 0.5s;
    font-size: 0em;
}
.navigation.active span ion-icon
{
    font-size: 1.35em;
    color: #fff;
}
.navigation.active span:hover ion-icon
{
    color: #7fff00;
    filter: drop-shadow(0 0 2px #7fff00)
    drop-shadow(0 0 5px #7fff00)
    drop-shadow(0 0 15px #7fff00);
}


